<div class="col-md-12">
  <br />
  <form [formGroup]="forma" (keyup.enter)="buscar_pelicula()">
    <div class="input-group mb-3">
      <input
        type="search class="
        class="form-control"
        placeholder="Bucar peliculla"
        formControlName="buscar"
      />
    </div>
  </form>

  <div class="container main-container">
    <div class="card-columns">
      <div class="card" *ngFor="let pelicula of peliculas; let i = index">
        <img
          width="300px"
          height="300px"
          src="{{ pelicula | peliculasImages }}"
          [alt]="pelicula.original_title"
        />
        <div class="card-body">
          <h5 class="card-title">{{ pelicula.original_title }}</h5>
          <p class="card-text">
            {{ pelicula.overview | description }}
          </p>
          <button
            (click)="ver_pelicula(pelicula.id)"
            type="button"
            class="btn btn-outline-primary btn-block"
          >
            Ver más...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
