<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-4">PeliculasApp</h1>
    <p class="lead">Esta es una aplicación de peliculas.</p>
  </div>
</div>

<!-- <div *ngFor="let pelicula of peliculas; let i = index">
  
  <img  width="300px" height="300px"
   src= "http://image.tmdb.org/t/p/w500{{pelicula.poster_path}}" 
    [alt]="pelicula.original_title" />
    <span> {{pelicula.original_title}} </span>
</div> -->

<div class="card-columns">
  <div class="card" *ngFor="let pelicula of peliculas; let i = index">
    <img
      width="350px"
      height="350px"
      src="http://image.tmdb.org/t/p/w500{{ pelicula.poster_path }}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ pelicula.original_title }}</h5>
      <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
</div>
