<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-4">PeliculasApp</h1>
    <p class="lead">Esta es una aplicación de peliculas.</p>
  </div>
</div>

<div class="container main-container">
  <div class="card-columns">
    <div class="card" *ngFor="let pelicula of peliculas; let i = index">
      <img
        width="300px"
        height="300px"
        src="{{ pelicula | peliculasImages }}"
        [alt]="pelicula.original_title"
      />
      <div class="card-body">
        <h5 class="card-title">{{ pelicula.original_title }}</h5>
        <p class="card-text">
          {{ pelicula.overview | description }}
        </p>
        <button
          (click)="ver_pelicula(pelicula.id)"
          type="button"
          class="btn btn-outline-primary btn-block"
        >
          Ver más...
        </button>
      </div>
    </div>
  </div>

  <h1>Peliculas en Cartelera</h1>
  <hr />
  <div class="card-columns">
    <div
      class="card"
      *ngFor="let pelicula of peliculasCartelera; let i = index"
    >
      <img
        width="300px"
        height="300px"
        src="{{ pelicula | peliculasImages }}"
        [alt]="pelicula.original_title"
      />
      <div class="card-body">
        <h5 class="card-title">{{ pelicula.original_title }}</h5>
        <p class="card-text">
          {{ pelicula.overview | description }}
        </p>
        <button
          (click)="ver_pelicula(pelicula.id)"
          type="button"
          class="btn btn-outline-primary btn-block"
        >
          Ver más...
        </button>
      </div>
    </div>
  </div>

  <h1>Populares entre los pequeños</h1>
  <hr />
  <div class="card-columns">
    <div class="card" *ngFor="let pelicula of pequenos; let i = index">
      <img
        width="300px"
        height="300px"
        src="{{ pelicula | peliculasImages }}"
        [alt]="pelicula.original_title"
      />
      <div class="card-body">
        <h5 class="card-title">{{ pelicula.original_title }}</h5>
        <p class="card-text">
          {{ pelicula.overview | description }}
        </p>
        <button
          (click)="ver_pelicula(pelicula.id)"
          type="button"
          class="btn btn-outline-primary btn-block"
        >
          Ver más...
        </button>
      </div>
    </div>
  </div>
</div>
